[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyarrow = "*"
mlflow = "*"
prefect = "==2.0b6"
scikit-learn = "==1.0.2"
s3fs = "*"

[dev-packages]

[requires]
python_version = "3.9"
